<tr id="<%= 'endpoint-' + endpoint.resource_id.to_s + '-' + endpoint.id.to_s %>" class="data-row">
	<td class="rest-url"><%= link_to endpoint.method_type + ' ' + endpoint.url, resource_endpoint_path(endpoint.resource_id, endpoint.id) %></td>
	<td class="description">
		<%= endpoint.description %>
		<div class="edit-btn-div v-hidden"><%= link_to 'Delete', resource_endpoint_path(endpoint.resource_id, endpoint.id), method: :delete, remote: true %></div>
	</td>
	
</tr>
