<tr id="<%= 'endpoint-' + endpoint.resource_id.to_s + '-' + endpoint.id.to_s %>" class="endpoint-row">

	<td class="rest-url"><%= link_to endpoint.method_type + ' ' + endpoint.url, [@project,endpoint] %></td>
	<td class="description">
		<%= endpoint.description %>
		<div class="edit-btn-div v-hidden"><%= link_to 'Delete', [@project,endpoint], method: :delete, remote: true %></div>
	</td>

</tr>
