// Place all the styles related to the endpoints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "utilities.css";

.parameter-name{
	font-weight: bold;
	font-size: 12px;
	width: 30%;
}


.parameter-description{
	width: 70%;
}

.name-input-field{
	width: 15%;
	height: 40px;
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.example-input-field{
	width: 15%;
	height: 40px;
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.description-input-field{
	width: 60%;
	height: 40px;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}
