// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "utilities.css";

$url-color: #3CB4FF;
$url-hover-color: #3264FF;

caption.resource-title{
	div div:first-child{
		float:left;
	}
	div div:last-child{
		float:right;
	}
}

thead tr th:first-child{
	width: 35%;
}

thead tr th:last-child{
	width: 65%;
}

.rest-url{
	a{
		color: $url-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			background-color: transparent;
			color: $url-hover-color;
		}
		&:visited{
			color: $url-color;
		}
	}
}

.type-input-field{
	width: 10%;
	height: 40px;
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.url-input-field{
	width: 20%;
	height: 40px;
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.description-input-field{
	width: 55%;
	height: 40px;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}
