
$th-color: #787878;
$description-color:  #787878;
$tr-border-color: #C8C8C8;
$tr-hover-background-color: #EEEEEE;
$button-background-color: #E4E4E4;
$button-text-color: #787878;

div#global-container{
	margin: 0 auto 0 auto;
	width:800px;
}

caption{
	text-align: left;
	font-size: 14px;
}

table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

th{
	color: $th-color;
	font-size: 12px;
	text-align: left;
}

tr{
	border: solid;
	border-width: 1px 0;
	border-color: $tr-border-color;
	height: 40px;
}

tr.data-row:hover{
	background-color: $tr-hover-background-color;
}

caption{
	margin-bottom:10px;
}

form div.actions{
	float:left;
}

.edit-btn-div{
	width:40px;	
	float:right;
	margin-right:10px;
}

.description{
	color: $description-color;
}

button{
	height:25px;
	min-width: 50px;
	color:$button-text-color;
	background-image: none;
	background-color: $button-background-color;
	border: none;
    cursor: pointer;
}

div.actions input{
	height:25px;
	min-width: 50px;
	color:$button-text-color;
	background-image: none;
	background-color: $button-background-color;
	border: none;
}

button.cancel-creation{
	display: block;
	float: left;
}

button.cancel-update{
  display: block;
  float: left;
}

.hidden{
	display:none;
}

.v-hidden{
	visibility: hidden;
}
