$url-color: #3CB4FF;
$th-color: #787878;
$description-color:  #787878;
$tr-border-color: #C8C8C8;
$tr-hover-background-color: #DFDFDF;

caption{
	text-align: left;
	font-size: 14px;
}

table{
	width: 100%;
	border-collapse: collapse;
	thead:first-child{
		width: 50%;
	}
	thead:last-child{
		width: 50%;
	}
}

th{
	color: $th-color;
	font-size: 12px;
	text-align: left;
}

tr{
	border: solid;
	border-width: 1px 0;
	border-color: $tr-border-color;
	height: 40px;
}

tr.endpoint-row:hover{
	background-color: $tr-hover-background-color;
}

.rest-url{
	a{
		color: $url-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			background-color: #FFFFFF;
		}
		&:visited{
			color: $url-color;
		}
	}
}

.description{
	color: $description-color;
}

.hidden{
	display:none;
}

.v-hidden{
	visibility: hidden;
}
